@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  background: url('https://images5.alphacoders.com/552/552426.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.categories-categoriesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
  background-image: url('https://images5.alphacoders.com/552/552426.jpg');
  background-size: cover;
  background-position: center;
}

.categories-categoriesContainer h1 {
  color: #333;
  margin-bottom: 20px;
}

.categories-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1px;
  background-color: #fff;
  transition: transform .2s;
}

.categories-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
}

.categories-categoryImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.categories-card h3 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #333;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 500ms;
}

.ReactModal__Content {
  position: relative;
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 15px;
  width: 40%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: all 500ms;
}

.categories-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  transition: all 300ms;
  font-weight: bold;
}

.categories-close-button:hover {
  background-color: #ff4500;
}

.categories-input-field {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.categories-input-field:focus {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.categories-add-to-cart-btn {
  font-size: 1.2em;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(93deg, #FF9D6C, #FF6A88);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.categories-add-to-cart-btn:hover {
  background: linear-gradient(93deg, #FF6A88, #FF9D6C);
  transform: scale(1.05);
}

.categories-form-label {
  margin-top: 30px;
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.categories-form-label input {
  margin-top: 5px;
}