.categoriesContainer {
  background-color: rgb(194, 207, 207);
  padding: 20px;
  text-align: center;
}

.categoriesContainer h1 {
  color: #333;
  margin-bottom: 20px;
}

.card {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  width: 200px;
  transition: transform .2s;
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.2);
}

.categoryImage {
  width: 100%;
  height: 150px; /* Fix the height of the image */
  object-fit: cover; /* This will make sure the image is resized in a way that it does not break the aspect ratio */
  border-radius: 8px 8px 0 0;
}

.card h3 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #333;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 500ms;
}

.ReactModal__Content {
  position: relative;
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 15px;
  width: 40%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: all 500ms;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  transition: all 300ms;
  font-weight: bold;
}

.close-button:hover {
  background-color: #ff4500;
}

.input-field {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.input-field:focus {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.add-to-cart-btn {
  font-size: 1.2em;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(93deg, #FF9D6C, #FF6A88);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
  background: linear-gradient(93deg, #FF6A88, #FF9D6C);
  transform: scale(1.05);
}

.form-label {
  margin-top: 30px;
  font-family:'Times New Roman', Times, serif;
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  color: #333; 
}

.form-label input {
  margin-top: 5px;
}
