@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.homepage-pq {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: url('pq-homepage1.jpg') no-repeat;
  background-size:cover;
  background-position-x: -175px;
}

.content-container-pq {
  background-color: rgba(0, 0, 0, 0.7);
  width: 20%;
  margin-left: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.content-container-pq h3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  text-align: center;
  color: white;
}

.content-container-pq p {
  margin: 20px 0;
  font-size: 20px;/* Increased font-size */
  font-weight: bold;/* Make the text bold */
}

.content-container-pq input,
.content-container-pq button {
  padding: 12px;/* Increased padding */
  font-size: 18px;/* Increased font-size */
  width: 100%;
  margin-bottom: 10px;
}

.homepage-pq .ant-btn {
  color: #FFF;/* Make the button text white */
  background-color: #222;/* Darker background */
  border: none;
  padding: 10px 20px;
  font-size: 18px;/* Increased font-size */
  width: 100%;/* Full-width buttons */
  height: 60px;/* Fixed height */
  margin-bottom: 20px;/* Increased bottom margin */
  text-decoration: none;/* Remove underline from Link */
  display: flex;/* Flex display */
  justify-content: center;/* Center align text */
  align-items: center;/* Center align text */
  transition: transform 0.3s ease-in-out;/* Smooth transform transition */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);/* Add some shadow to make the buttons "pop" */
}

.homepage-pq .ant-btn:hover {
  background-color: #333;/* Slightly lighter on hover */
  transform: scale(1.1);/* Scale up when hovered */
}

.homepage-pq input[type='text'] {
  padding: 10px;
  width: 100%;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 18px; /* Increased font-size */
  margin-bottom: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);/* Add some shadow to make the input "pop" */
}

.homepage-pq input[type='text']:focus {
  border-color: #555;
  outline: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add some shadow to make the input "pop" when focused*/
}