.container {
  text-align: center;
  margin-top: 20px;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.info {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.button {
  font-size: 1em;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(93deg, #FF9D6C, #FF6A88);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: linear-gradient(93deg, #FF6A88, #FF9D6C);
  transform: scale(1.05);
}

.jobs-container {
  margin-top: 30px;
  text-align: center;
}

.jobs-container h2 {
  color: #333;
  margin-bottom: 15px;
}

.jobs-container p {
  margin: 5px;
}

.jobs-container button {
  font-size: 1em;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(93deg, #FF9D6C, #FF6A88);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.jobs-container button:hover {
  background: linear-gradient(93deg, #FF6A88, #FF9D6C);
  transform: scale(1.05);
}
