@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.pHomepage-body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

.pHomepage-image {
  flex: 0 0 60%;
  background: url('https://images.pexels.com/photos/4968382/pexels-photo-4968382.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4968382.jpg&fm=jpg') no-repeat center center;
  background-size: cover;
}

.pHomepage-container {
  width: 40%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pHomepage-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.pHomepage-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}

.button,
.mt-3 {
  font-size: 1.2em;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(93deg, #FF9D6C, #FF6A88);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
  margin: 15px 0;
  text-decoration: none;
}

.button:hover,
.mt-3:hover {
  background: linear-gradient(93deg, #FF6A88, #FF9D6C);
  transform: scale(1.05);
}

.pHomepage-jobs-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.pHomepage-jobs-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
}

.pHomepage-jobs-container p {
  margin: 5px;
  font-size: 18px;
  color: #000;
}

.pHomepage-jobs-container button {
  font-size: 1.2em;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(93deg, #FF9D6C, #FF6A88);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.pHomepage-jobs-container button:hover {
  background: linear-gradient(93deg, #FF6A88, #FF9D6C);
  transform: scale(1.05);
}
