.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1A1A1D; /* Dark background */
  color: #F0F0F0; /* Light text */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  font-family: 'Helvetica', sans-serif; /* Uniform font */
}
.navbar div {
  display: flex;
  align-items: center;
}
.navbar div > .user-display {
  margin-right: 20px; /* Spacing between username and cart */
  font-size: 18px; /* Bigger font size */
  font-weight: bold; /* Bold text */
  color: gray; /* Light blue color to make it stand out */
}
.navbar div > div {
  margin-right: 20px; /* Spacing between username and cart */
}
.nav-link {
  text-decoration: none;
  color: #F0F0F0; /* Light link color */
  background-color: transparent; /* Transparent background */
  padding: 10px 20px;
  border: 2px solid #61DAFB; /* Border to match the previous color */
  border-radius: 20px; /* Rounded corners */
  transition: all 0.3s ease;
}
.nav-link:hover {
  background-color: #61DAFB; /* Light blue on hover */
  color: #1A1A1D; /* Dark text on hover */
}