.ant-btn {
  font-size: 1em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(93deg, #FF9D6C, #FF6A88);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}

.ant-btn:hover {
  background: linear-gradient(93deg, #FF6A88, #FF9D6C);
  border-radius: 5px;
  font-size: 1em;
  transform: scale(1.05);
}

.container section {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
}

@media (max-width: 568px){
.container section {
  align-items: center;
  flex-direction: column;
}
}

.title {
  text-align: center;
}

.title1{
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid brown;    
}

.input-box{
  outline: none !important;
  box-shadow: none !important;
}